<ul class="list-group">
  <li class="list-group-item">
    <b>{{feed.feedName}}</b>
    <br/>
    <b>{{feed.feedFollows.length}}</b> followers
    <button *ngIf="isLoggedIn && isFollowing"
            (click)="followFeed()"
            class="btn btn-secondary float-right">
      Follow
    </button>
  </li>
  <li *ngIf="isModerator"
      class="list-group-item">
    <div class="row">
      Create Post:
    </div>
    <!--<br/>-->
    <div class="row">
      <div class="col">
        <input placeholder="Title"
               [(ngModel)]="newTitle"
               class="form-control">
      </div>
      <div class="col">
        <input placeholder="URL"
               [(ngModel)]="newLink"
               class="form-control">
      </div>
      <div class="col">
        <button class="btn btn-primary float-right"
                (click)="createPost(newTitle, newLink)">
          Create
        </button>
      </div>
    </div>
  </li>
  <li *ngFor="let post of posts"
      class="list-group-item">
    <div class="row">
      <a href="{{post.postLink}}">
        <b>
          {{post.postTitle}}
        </b>
      </a>
      <button *ngIf="isLoggedIn && isModerator"
              (click)="deletePost()"
              class="btn btn-primary float-right">
        Delete
      </button>
    </div>
  </li>
</ul>
