<div class="container-fluid ">
  <h2>Feeds</h2>
  <div class="row">


    <form class="form-line" [hidden]="!isElevated">
      <div class="form-group">
        <input placeholder="Feed Name"
               name="zzz"
               [(ngModel)]="feedName"
               class="form-control"/>
        <button class="btn btn-primary form-control"
                (click)="createFeed()">
          Create Feed
        </button>
      </div>
    </form>

    <form class="form-line">
      <div class="form-group">
        <input placeholder="Search For Feeds"
               name="zzz"
               [(ngModel)]="feedSearch"
               class="form-control">
        <button class="btn form-control btn-primary"
                (click)="searchFeeds()">
          Search For Feeds
        </button>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let feed of feeds">
        <a routerLink="/feed/{{feed._id}}">
          {{feed.feedName}}
        </a>
        <form class="form-inline pull-right">
          <div class="form-group">
            <button (click)="followFeed(feed._id)"
                    class="form-control btn btn-primary pull-right">
              Follow
            </button>
          </div>
          <div class="form-group">
            <div [hidden]="!isElevated">
              <button (click)="deleteFeed(feed._id, feed.feedName)"
                      class="form-control btn btn-danger pull-right">
                Delete Feed
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>

</div>
