<div class="container-fluid col-md-6 col-md-offset-3">
  <div>
    <h1>Profile</h1>
    <div>
      <input [(ngModel)]="userPage.username"
             placeholder="username"
             class="form-control"
             readonly/>
      <input [(ngModel)]="userPage.firstName"
             placeholder="first name"
             class="form-control"/>
      <div [hidden]="idCheck" class="private">
        <input [(ngModel)]="userPage.lastName"
               placeholder="last name"
               class="form-control"/>
        <button (click)="update()"
                class="btn btn-primary btn-block">
          Update
        </button>
      </div>
    </div>
  </div>
  <br>
  <div>
    <ul class="list-group">
      <h3>
        Followers:
      </h3>
      <li class="list-group-item"
          *ngFor="let followerId of userPage.userFollowers">
        {{followerId}}
      </li>
    </ul>
  </div>
</div>
